:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2c79d3;
  text-decoration: inherit;
}
a:hover {
  color: #2c79d3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #d3862c;
    color: white;
    height: 50px;
    width: 160px;
    margin: 20px;
  }
}

.article-card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  border: 10px solid #f5ca4d;
  border-radius: 30px;
  padding: 35px;
  margin-bottom: 20px;
}

.article-card img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 30px;
  flex-shrink: 0;
}

.article-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-text h3 {
  margin: 0 0 0.5em 0;
}

.article-text p {
  font-size: 1.2rem;
  margin: 0.25em 0;
}

.article-body-text {
  text-align: left;
  margin: 20px 50px 20px 50px;
}

@media (max-width: 768px) {
  .article-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article-card img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .article-text {
    align-items: center;
    padding-top: 20px;
  }

  .article-body-text {
    margin: 20px;
    text-align: left;
  }
}

.comment-list {
  gap: 24px;
  border: 10px solid #f5ca4d;
  border-radius: 30px;
  padding: 35px;
  margin-bottom: 20px;
}

.comment-card {
  border-bottom: 3px solid #4d78f5;
}

.button-container {
  display: flex;
  justify-content: center;
}

.vote-button {
  margin: 6px;
  height: 50px;
  width: 90px;
  font-weight: bold;
  font-size: 20px;
}

.vote-clicked {
  margin: 6px;
  height: 50px;
  width: 90px;
  background-color: #4d78f5;
}

.error-message {
  border: 10px solid #e51a52;
}
